html,body{
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width : 100%;
}
.zc-commands{
    float:left;
}
.zc-actions{
    float:right;
}
.zc-top{
    position:absolute;
    white-space:nowrap;
    width:100%;
    height:30px;
    min-width: 330px;
    border-bottom: 1px solid #c1c1c1;
    padding-right:20px;
}
.zc-top.blue{
    background-color: #29A2CC;
    color:white;
}
.zc-top.green{
    background-color: #7CA82B;
    color:white;
}
.zc-top.dark{
    background-color: #363132;
    color:white;
}

.zc-content{
    overflow:hidden;
    height: 100%;
    width : 100%;
}
.zc-btn{
    position: relative;
    float:left;
    min-width:70px;
    max-width:70px;
    height:30px;
    line-height:30px;
    text-align:center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: hand;
    font-size: 0.8em;
    cursor : pointer;
}
.zc-btn.active:after{
    top: 100%;
    left : 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-left: -10px;
}

.zc-top.blue .zc-btn:hover{
    background-color:#1C7B97;
    color:white;
}
.zc-top.blue .zc-btn.active{
    background-color: #003849;
    color : white;
}
.zc-top.blue .zc-btn.active:after{
    border-top-color: #003849;
}
.zc-top.green .zc-btn:hover{
    background-color:#648623;
    color:white;
}
.zc-top.green .zc-btn.active{
    background-color: #49631A;
    color : white;
}
.zc-top.green .zc-btn.active:after{
    border-top-color: #49631A;
}
.zc-top.dark .zc-btn:hover{
    background-color:#2990AE;
    color:white;
}
.zc-top.dark .zc-btn.active{
    background-color: #161414;
    color : white;
}
.zc-top.dark .zc-btn.active:after{
    border-top-color: #161414;
}
.zc-sprite{
    margin: 5px;
    background-repeat: no-repeat;
    height: 20px;
    background-image : url('/assets/sprite.png');
}
.zc-sprite.wide {
    display:inline-block;
    float:left;
}

.zc-top.blue .icon:hover:after{
    border-bottom-color: #003849;
}
.zc-top.blue .icon:hover:before{
    color : white;
    background-color: #003849;
}

.zc-top.green .icon:hover:after{
    border-bottom-color: #49631A;
}
.zc-top.green .icon:hover:before{
    color : white;
    background-color: #49631A;
}
.zc-top.dark .icon:hover:after{
    border-bottom-color: #161414;
}
.zc-top.dark .icon:hover:before{
    color : white;
    background-color: #161414;
}

.zc-cont {
    padding-top: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    width:100%;
    background-color: white;
    overflow-y:scroll;
}

pre{
    margin: 0px;
    tab-size : 2;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    -webkit-tab-size: 2;
    white-space: pre-wrap;
}

/* @group Prettify */
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
    padding: 8px !important;
    word-wrap: break-word !important;
    background-color: #f7f7f9;
    border: 0px !important;
}
.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 18px;
    text-shadow: 0 1px 0 #fff;
}
/* @end group Prettify */

@media screen and (max-width: 480px) {
    .zc-top #dl-btn { display:none; }
    .zc-actions {
        display:none;
    }
    .zc-top {
        min-width:100%;
    }
}